.btns{
	width:10%;
    height:40px;
	background-color: rgb(201, 0, 0);
    border-radius: 10px;
    border: none;
}
.btns:hover{
    background-color: brown;
    color:#fff;
}
table{
    width:85%;
    position: relative;
    top:10%;
    left:8%;
}
th,td{
    text-align: center;
}